html{   background-color: #99ccff;
	font-family: Georgia;
}

h1{     text-align: left;
        margin-left: 10px;
        color: #000000;
        font-weight: 900;
}

h2{     text-align: left;
        margin-left: 10px;
        color: #000000;
        font-weight: 600;
}

p{	text-align: left
	margin-left: 10px;
	color: #000000;
}
