html{
    background-color: #FFFFFF;
    font-family: Garamond;
    padding-left: 25px;
    padding-right: 25px;
}

h1{
    font-size: 50px;
    color: #000000;
    padding-bottom: 10px;
}

h2{
    line-height: 9px;
    font-size: 40px;
    color: #000000;
}

h3{
    line-height: 9px;    
    font-size:30px;
    color: #000000;
}

p{
    font-size:20px
    color: #000000;
}

body{
    color: #000000;
}

li{
    color: #000000;
}

mark{
    color: #000000;
    background-color: yellow;
}